:root{
   --custom-font: "Roboto", sans-serif;
   --custom-black: rgb(33, 37, 41);
   --custom-red: rgb(239, 71, 111);
   --custom-yellow: rgb(255, 209, 102);
   --custom-green: rgb(6, 214, 160);
   --custom-blue: rgb(4, 150, 255);
}

*{
   box-sizing: border-box;
   font-family: var(--custom-font);
}

body{
   min-width: 340px !important;
   min-height: 100dvh;
   display: flex;
   flex-direction: column;
}

.custom-header{
   background-color: var(--custom-black);
   height: 80px;
   display: flex;
   align-items: center;
}

.custom-navbar{
   width: 100%;
   margin: 0 auto;
}

.custom-navbar button{
   border: 0;
   padding: 0;
   background-color: transparent;
   color: white;
}

.custom-navbar button > i{
   font-size: 2em;
}

.navbar-menu-btn{
   transition: transform 0.3s linear;
}

.navbar-logo{
   background-color: white;
}

.navbar-cart-btn{
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
}

.navbar-cart-badge{
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 0.8em;
   font-weight: bold;
   position: absolute;
   color: var(--custom-red);
   transform: translateY(21%);
}

.custom-main{
   width: 100%;
   height: 100%;
   flex: 1;
   position: relative;
   overflow-x: hidden;
}

/* Section Filter */
.section-filter{
   z-index: 3;
   width: 100%;
   height: 100%;
   position: absolute;
   left: 0%;
   transform: translateX(-100%);
   background-color: white;
   transition: transform 0.3s linear;
}

.filter-form-header{
   height: 10%;
   padding: 12px 0px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.filter-form-header > h3{
   margin: 0;
   font-size: 3em;
}

.filter-form-input-alert{
   display: block;
   background-color: rgba(239, 71, 111, 0.2);
   color: var(--custom-red);
   width: 100%;
   padding: 4px 8px;
   font-size: 0.9em;
   font-weight: normal;
}

hr{
   border-top: 1px solid rgba(0, 0, 0, 0.6);
}

.filter-form-title{
   background-color: var(--custom-black);
   padding: 8px 12px;
}

.filter-form-title > h3{
   font-weight: 400;
   font-size: 1.3em;
   color: white;
}

.filter-collapse-btn{
   border: none;
   color: white;
   background-color: transparent;
   font-size: 1.2em;
   transition: transform 0.3s linear;
   padding: 0px;
}

.filter-form-input{
   height: 80%;
   overflow-y: scroll;
   padding: 24px;
   border-top: 1px solid rgba(0, 0, 0, 0.2);
   border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.filter-form-btn{
   height: 10%;
}

.filter-form-btn > button{
   border: 1px solid transparent;
   background-color: var(--custom-black);
   color: white;
   padding: 5px 30px;
   font-weight: 600;
   text-transform: uppercase;
   transition: all 0.3s linear;
}

.filter-form-btn > button:hover{
   border: 1px solid var(--custom-black);
   background-color: white;
   color: var(--custom-black);
}

.section-filter input:not(input[type = number]):hover{
   cursor: pointer;
}

.filter-prices-win-box{
   display: flex;
   width: 100%;
   border: 1px solid rgba(0, 0, 0, 0.2);
   padding: 6px 12px;
}

.filter-prices-win-box > span{
   display: flex;
   justify-content: center;
   align-items: center;
   padding-left: 12px;
}

.section-filter input[type = number]{
   outline: none;
   border: none;
   padding: 0;
   flex-grow: 1;
}

/* Section Cart */
.section-cart{
   z-index: 2;
   width: 100%;
   height: 100%;
   position: absolute;
   right: 0%;
   transform: translateX(100%);
   background-color: white;
   transition: all 0.3s linear;
}

.section-cart-title-box{
   height: 10%;
}

.section-cart-container{
   overflow-y: scroll;
   height: 80%;
   border-top: 1px solid rgba(0, 0, 0, 0.2);
   border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.section-cart-total-box{
   height: 10%;
}

/* Cart Product Card */
.cart-product{
   width: 100%;
   padding: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: all 0.3s linear;
}

.cart-product:hover{
   background-color: rgba(210, 210, 210, 0.2);
}

.cart-product-image-box{
   position: relative;
   width: 100px;
   height: 100px;
   background-color: rgba(191, 191, 191, 0.2);
   display: flex;
   justify-content: center;
   align-items: center;
}

.cart-product-image-box > img{
   width: 100px;
   height: 100px;
}

.cart-product-box{
   width: 100%;
   height: 100%;
   padding-left: 10px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: flex-start;
   overflow: hidden;
}

.cart-product-title{
   font-size: 1em;
   margin: 0;
   margin-bottom: 2px;
   width: 100%;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
}

.cart-product-category{
   font-size: 0.8em;
   background-color: rgba(4, 150, 255, 0.2);
   padding: 2px 6px;
   color: var(--custom-blue);
   margin: 0;
   margin-bottom: 4px;
   text-transform: capitalize;
}

.cart-product-price{
   width: 100%;
   font-size: 1em;
   margin: 0;
   margin-bottom: 4px;
   text-align: right;
}

.cart-product-price-deleted{
   font-size: 0.8em;
}

.cart-product-btn{
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.cart-product-btn-quantity{
   border: 1px solid rgba(0, 0, 0, 0.2);
   outline: none;
   font-size: 0.8em;
}

.cart-product-btn-delete{
   padding: 0px;
   border: none;
   background-color: rgba(239, 71, 111, 0.8);
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
}

.cart-product-btn-delete > i{
   display: flex;
   padding: 2px;
   background-color: transparent;
}

.cart-product-discount{
   position: absolute;
   bottom: 5px;
   right: 5px;
   padding: 0px 4px;
   font-size: 0.7em;
   background-color: var(--custom-red);
   color: white;
   font-weight: bold;
}

/* Section Products */
.section-products-mask{
   z-index: 2;
   width: 100%;
   height: 100%;
   position: absolute;
   background: rgba(0, 0, 0, 0.2);
   backdrop-filter: blur(10px);
   -webkit-backdrop-filter: blur(10px);
}

.section-products{
   z-index: 1;
   width: 100%;
   height: 100%;
   position: absolute;
   overflow-y: scroll;
}

.section-products-title{
   margin: 0 10px;
   font-size: 1.4em;
   font-weight: 500;
   color: rgba(33, 37, 41, 0.7);
}

.section-products-title-category{
   font-size: 1.2em;
   color: var(--custom-black);
}

.section-products-searchbar{
   margin: 12px 10px 48px 10px;
   display: flex;
   align-items: center;
   background-color: white;
   border: 1px solid rgba(0, 0, 0, 0.2);
   padding: 12px 16px;
}

.section-products-searchbar-input{
   border: none;
   border-radius: 0;
   width: 100%;
   outline: none;
   font-size: 1.1em;
   padding: 0;
}

.section-products-searchbar > span{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: 16px;
}

.section-products-searchbar > span > i{
   display: flex;
   opacity: 0.6;
   font-size: 1.1em;
}

.section-products-results{
   padding: 0 10px;
}

.section-products-results > h3{
   margin: 0;
   font-size: 1em;
   font-weight: 500;
   color: var(--custom-black);
   opacity: 0.6;
}

.product-card{
   padding: 10px;
   transition: all 0.3s linear;
   position: relative;
}

.product-card:hover{
   cursor: pointer;
   background-color: rgba(127, 127, 127, 0.1);
}

.product-card:hover > .product-card-imagebox{
   background-color: white;
}

.product-card-bell-badge{
   position: absolute;
   top: 20px;
   left: 20px;
   width: 24px;
   aspect-ratio: 1/1;
   display: flex;
   background-color: var(--custom-yellow);
   color: white;
   justify-content: center;
   align-items: center;
}

.product-card-bell-badge > i{
   display: flex;
}

.product-card-discount-badge{
   position: absolute;
   background-color: var(--custom-red);
   color: white;
   margin: 0px;
   padding: 2px 4px;
   font-size: 0.8em;
   font-weight: normal;
   right: 10px;
   top: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.product-card-discount-badge::after{
   content: "";
   height: 0;
   width: 0;
   position: absolute;
   padding: 2px 0;
   left: 0%;
   top: 0%;
   border-top: 1em solid var(--custom-red);
   border-right: 1em transparent;
   border-bottom: 1em solid transparent;
   border-left: 1em solid transparent;
   transform: translate(-100%);
}

.product-card-discount-badge::before{
   content: "";
   height: 0;
   width: 0;
   position: absolute;
   left: 0%;
   bottom: 0%;
   border-top: 1em solid transparent;
   border-right: 1em transparent;
   border-bottom: 1em solid var(--custom-red);
   border-left: 1em solid transparent;
   transform: translate(-100%);
}

.product-card-imagebox{
   width: 100%;
   aspect-ratio: 1/1;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   background-color: rgba(0, 0, 0, 0.1);
   transition: all 0.3s linear;
}

.product-card-imagebox > img{
   width: 100%;
}

.product-card-textbox{
   padding-top: 5px;
   padding-bottom: 20px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.product-cart-textbox-stock-avaible{
   font-weight: bold;
   font-size: 0.8em;
   background-color: rgba(6, 214, 160, 0.2);
   color: var(--custom-green);
   padding: 2px 6px;
   margin: 0px;
}

.product-cart-textbox-stock-low{
   font-weight: bold;
   font-size: 0.8em;
   background-color: rgba(255, 209, 102, 0.2);
   color: var(--custom-yellow);
   padding: 2px 6px;
   margin: 0px;
}

.product-cart-textbox-stock-out{
   font-weight: bold;
   font-size: 0.8em;
   background-color: rgba(239, 71, 111, 0.2);
   color: var(--custom-red);
   padding: 2px 6px;
   margin: 0px;
}

.product-cart-textbox-sku{
   font-size: 0.8em;
   opacity: 0.6;
   margin: 0px;
   margin-bottom: 6px;
}

.product-card-textbox-title{
   width: 100%;
   font-size: 1.3em;
   margin: 0px;
   margin-top: 12px;
   color: var(--custom-black);
   overflow: hidden;
   text-wrap: nowrap;
   text-overflow: ellipsis;
}

.product-card-textbox-rating{
   font-size: 1em;
   margin: 0px;
   margin-bottom: 12px;
   color:transparent;
   overflow: hidden;
   display: flex;
   padding: 2px 4px;
   background-color: rgba(127, 127, 127, 0.1);
}

.product-card-textbox-rating-stars{
   background-clip: text !important;
   -webkit-text-fill-color: transparent !important;
   -webkit-background-clip: text !important;
   display: block;
}

.product-card-textbox-rating-value{
   color: black;
}

.product-card-textbox-price{
   font-size: 1.1em;
   font-weight: normal;
   margin: 0px;
}

.product-card-textbox-price-deleted{
   font-size: 0.9em;
}

.product-card-buttonbox{
   display: flex;
   justify-content: flex-end;
}

.product-card-buttonbox-unavailable{
   border: 1px solid var(--custom-red);
   background-color: white;
   font-size: 0.9em;
   padding: 5px 10px;
   color: var(--custom-red);
}

.product-card-buttonbox-cart{
   border: 1px solid var(--custom-black);
   background-color: var(--custom-black);
   color: white;
   font-size: 0.9em;
   padding: 5px 10px;
   transition: all 0.3s linear;
}

.product-card-buttonbox-cart:hover{
   background-color: white;
   color: var(--custom-black);
   border-color: var(--custom-black);
}

.product-card-buttonbox-cart-maxqt{
   border: 1px solid var(--custom-red);
   background-color: white;
   font-size: 0.9em;
   padding: 5px 10px;
   color: var(--custom-red);
}