:root{
   --custom-font: "Roboto", sans-serif;
   --custom-black: rgb(33, 37, 41);
}

*{
   box-sizing: border-box;
   font-family: var(--custom-font);
}

body{
   min-width: 340px !important;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}

.custom-header{
   border-bottom: 1px solid rgba(0, 0, 0, 0.2);
   height: 80px;
   display: flex;
   align-items: center;
}

.custom-navbar{
   width: 100%;
   margin: 0 auto;
}

.custom-navbar button{
   border: 0;
   padding: 0;
   background-color: transparent;
   color: var(--custom-black);
}

.custom-navbar button > i{
   font-size: 1.8em;
}

.navbar-menu-btn{
   transition: transform 0.3s linear;
}

.navbar-logo{
   background-color: var(--custom-black);
}

.navbar-cart-btn{
   display: flex;
   align-items: start;
   justify-content: center;
   transition: transform 0.3s linear;
}

.navbar-cart-btn:hover{
   transform: scale(1.1);
}

.navbar-cart-badge{
   display: flex;
   justify-content: center;
   align-items: center;
}

.custom-main{
   width: 100%;
   height: 100%;
   flex: 1;
   position: relative;
   overflow-x: hidden;
}

/* Section Filter */
.section-filter{
   z-index: 3;
   width: 100%;
   height: 100%;
   position: absolute;
   left: 0%;
   transform: translateX(-100%);
   background-color: white;
   overflow-y: scroll;
   transition: transform 0.3s linear;
}

hr{
   border-top: 1px solid rgba(0, 0, 0, 0.6);
}

.section-filter h3{
   font-weight: 500;
   font-size: 1.3em;
}

.filter-collapse-btn{
   border: none;
   color: var(--custom-black);
   background-color: transparent;
   font-size: 1.3em;
   transition: transform 0.3s linear;
   padding: 0px;
}

.filter-form-btn > button{
   border: 1px solid transparent;
   background-color: var(--custom-black);
   color: white;
   padding: 5px 30px;
   font-weight: 600;
   text-transform: uppercase;
   transition: all 0.3s linear;
}

.filter-form-btn > button:hover{
   border: 1px solid var(--custom-black);
   background-color: white;
   color: var(--custom-black);
}

.section-filter input:not(input[type = number]):hover{
   cursor: pointer;
}

.section-filter input[type = number]{
   outline: none;
   border: 1px solid rgba(0, 0, 0, 0.2);
   padding: 5px 10px;
}

/* Section Cart */
.section-cart{
   z-index: 2;
   width: 100%;
   height: 100%;
   position: absolute;
   right: 0%;
   transform: translateX(100%);
   background-color: white;
   transition: all 0.3s linear;
}

.section-cart-title-box{
   height: 10%;
}

.section-cart-container{
   overflow-y: scroll;
   height: 80%;
   border-top: 1px solid rgba(0, 0, 0, 0.2);
   border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.section-cart-total-box{
   height: 10%;
}

/* Cart Product Card */
.cart-product{
   border: 1px solid transparent;
   transition: 0.3s linear;
   padding: 5px;
}

.cart-product:hover{
   cursor: pointer;
   background-color: rgba(127, 127, 127, 0.1);
}

.cart-product-image-box{
   width: 80px;
   height: 80px;
}

.cart-product-image-box > img{
   background-color: rgba(191, 191, 191, 0.3);
}

.cart-product-btn-box button{
   border: none;
   background-color: transparent;
   color: red;
   font-size: 1.3em;
}

/* Section Products */
.section-products-mask{
   z-index: 2;
   width: 100%;
   height: 100%;
   position: absolute;
   background: rgba(0, 0, 0, 0.2);
   backdrop-filter: blur(10px);
}

.section-products{
   z-index: 1;
   width: 100%;
   height: 100%;
   position: absolute;
   overflow-y: scroll;
}

.section-products-container{}

.product-card{
   padding: 10px;
   transition: all 0.3s linear;
   position: relative;
}

.product-card:hover{
   cursor: pointer;
   background-color: rgba(127, 127, 127, 0.1);
}

.product-card:hover > .product-card-imagebox{
   background-color: white;
}

.product-card-discount-badge{
   position: absolute;
   background-color: rgb(255, 60, 60);
   color: white;
   padding: 5px 10px;
   font-size: 0.8em;
   font-weight: 900;
   right: 10px;
   top: 10px;
}

.product-card-imagebox{
   width: 100%;
   aspect-ratio: 1/1;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   background-color: rgba(0, 0, 0, 0.1);
   transition: all 0.3s linear;
}

.product-card-imagebox > img{
   width: 100%;
}

.product-card-textbox{
   padding: 10px 0;
}

.product-card-textbox-sku{
   font-size: 0.8em;
   margin: 0px;
}

.product-card-textbox-title{
   font-size: 1.3em;
   margin: 0px;
}

.product-card-textbox-price{
   font-size: 1.1em;
   font-weight: 400;
   margin: 0px;
}

.product-card-buttonbox{
   display: flex;
   justify-content: flex-end;
}

.product-card-buttonbox-cart{
   border: 1px solid;
   background-color: var(--custom-black);
   color: white;
   font-size: 0.9em;
   padding: 5px 10px;
   transition: all 0.3s linear;
}

.product-card-buttonbox-cart:hover{
   background-color: white;
   color: var(--custom-black);
   border-color: var(--custom-black);
}